*{
  margin: 0;
  padding: 0;
}
.slider{
  overflow: hidden;
  width: 100%;
  height: 800px;
  position: relative;
}
figure{
  width: 500%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  transition: all 3s linear;
  animation: 20s slidy infinite ;
}
.slide{
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}
.slide img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes slidy {
  0%{
    left:0;
  }
  10%{
    left: -100%;
  }
  20%{
    left: -200%;
  }
  30%{
    left: -300%;
  }
  40%{
    left: -400%;
  }
  50%{
    left: -400%;
  }
  60%{
    left: -300%;
  }
  70%{
    left: -200%;
  }
  85%{
    left: -100%;
  }
  100%{
    left: 0%;
  }

}

.slider1{
  margin-top: 20%;
  overflow: hidden;
  width: 100%;
  height: 800px;
  position: relative;
}
figure{
  width: 500%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  transition: all 3s linear;
  animation: 20s slidy infinite ;
}
.slide1{
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
}
.slide1 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.legenda{
  /*position: fixed ;*/
}
.barra00 {
  /*   margin-top: 2%;*/
  margin-bottom: 8%;
  width: 100%;
  height: auto;
}

.legenda23 {
  border: 3px solid #000000;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 8%;
}