*{
  margin: 0;
  padding: 0;
 
}
.slider{
width: 100%;
  height: 100%;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}
/*
@keyframes slidy {
  0%{
    left:0;
  }
  10%{
    left: -100%;
  }
  20%{
    left: -200%;
  }
  30%{
    left: -300%;
  }
  40%{
    left: -300%;
  }
  50%{
    left: -300%;
  }
  60%{
    left: -200%;
  }
  70%{
    left: -100%;
  }
  85%{
    left: 0%;
  }
  100%{
    left: 0%;
  }

}*/


@keyframes mymove {
  from {left: 0%;}
  to {right: 100%;}
}


.alinhamento{
  background-color: black;
}